<div class='contextual'>

    <%= link_to l(:button_save), '#', :style => 'color: #666; cursor: default; pointer-events: none;', :class => 'icon icon-save', :onclick => 'commitChanges(save_week_not_possible_msg); return false;', :id => 'workweek_commit'%>
    <%= link_to l(:zz5_block_entry), '/zz5/block_entry', :class => 'icon icon-block-entry', :data => { :remote => true }  %>

</div>