<tr class="total-sum">
    <td class="day"><%= l(:zz5_time_carry_forward) %></td>
    <td/>
    <td/>
    <td/>
    <td/>
    <td class="total-hours-container"><div class="vacation-days"><%= vacation_entitlement %></div></td>
    <td/>
    <td/>
    <td/>
    <td class="total-hours-container"><div class="carry-hours"><%= convert_seconds_to_hours_and_minutes(time_carry)%></div></td>
</tr>
