<center>
  <div style="padding-bottom: 3px">
  <button type="button" class="btn btn-default" aria-label="Center Align" value="dec" onClick="changeDate(this)">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
  </button>
  <label id="date">17.12.2015</label>
  <button type="button" class="btn btn-default" aria-label="Left Align" value="inc" onClick="changeDate(this)">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
  </button>
  </div>
</center>
<div class="work-absences-container">
  <%= render :partial => "mtr_worktimes_view", :content_type => "text/html",
             :locals => {:test => 'testValue'}%>
</div>